#configButton {
    margin: 20px 5px;
}

#provisionLink {
    margin-left: 10px;
}

#batchProvisionResultsHeader {
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px;
}

#batchProvisionResults {
    margin-left: 30px;
}

.courseProvisionResult {
    border: solid 1px #C0C0C0;
    padding: 5px;
    margin-bottom: 20px;
}

.courseProvisionResult .attribute {
    font-weight: bold;
}

.courseProvisionResult .value {
    margin-left: 15px;
    margin-bottom: 5px;
}

.courseProvisionResult .successMessage {
    color: green;
}

.courseProvisionResult .errorMessage {
    color: red;
}

#courseContent {
    margin: 15px;
}

.sectionHeader {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}

.liveLecture, .completedRecording, .courseLink {
    margin-top: 5px;
    margin-left: 15px;
}

.liveLectureActions {
    white-space: nowrap;
    font-size: 0.9em;
}

.rssLink {
    font-size: 0.8em;
}

.jsSubmitButtonDiv {
    float: right;
    margin: 10px 0px;
}

.disabled {
    background-color: #EEEEEE;
}

#serverList {
    margin: 0px;
}

#noServersMessage {
    margin-top: 15px;
    font-style: italic;
    font-size: 1.2em;
}

#addServerDiv {
    padding-top: 20px;
}

.customRoleCell {
    border: 1px solid black;
    padding: 3px;
}

.settingTable TH {
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
}

.settingTable TD {
    vertical-align: top;
}

.settingNote {
    font-size: .9em;
}

.error {
    color: red;
}

.selectFoldersListBox {
    min-width: 175;
}

.selectFoldersButton {
    width: 90;
}

.resetReceipt {
    margin: 5px;
}